.container{
  width: 500px;
  height: 300px;
  border: 1px solid black;
  margin: auto;
  margin-top: 16px;
}
.header{
  background-color: paleturquoise;
  height: 25%;
  width: 100%;
}
.main{
  flex-direction: row;
  height: 50%;
  display: flex;
}
.side{
  flex-basis: 30%;
  background-color: pink;
}
.content{
  flex-basis: 70%;
  background-color: palevioletred;
}
.footer{
  width: 100%;
  height: 25%;
  background-color: rgb(238, 192, 234);

}


.container2{
  width: 500px;
  height: 300px;
  margin: auto;
  border: 1px solid;
}
.header2{
  display: flex;
  flex-direction: row;
  height: 25%;
}
.head1{
  flex-basis: 60%;
  background-color: plum;
}
.head2{
  flex-basis: 40%;
  background-color: rgb(143, 93, 143);
}
.main2{
  display: flex;
  flex-direction: row;
  height: 50%;
}
.side2{
  flex-basis: 20%;
  background-color: rgb(177, 105, 177);
}
.content2{
  flex-basis: 80%;
  background-color: rgb(230, 114, 230);
}
.footer2{
  display: flex;
  flex-direction: row;
  height: 25%;
}
.foot1{
  flex-basis: 60%;
  background-color: rgb(77, 49, 77);
}
.foot2{
  flex-basis: 40%;
  background-color: rgb(100, 39, 100);
}

.container3{
  width: 500px;
  height: 300px;
  margin: auto;
  border: 1px solid;
}
.header3{
  height: 25%;
  background-color: peachpuff;
}
.main3{
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
}
.side3{
  width: 65%;
  background-color: pink;
}
.main4{
  width: 40%;
  display: flex;
  flex-direction: column;
}
.content3{
  background-color: palevioletred;
  flex-basis: 30%;
}
.content4{
  background-color: rgb(199, 89, 126);
  flex-basis: 35%;
}
.content5{
  background-color: rgb(158, 57, 91);
  flex-basis: 35%;
}