body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  height: 300px;
  width: 700px;
  box-shadow: 0px 0px 5px gray;
  padding: 24px 16px;
  border-radius: 10px;
}
hr{
  background-color: lightgray;
  height: 1px;
  border: 0;
}
.content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 220px;
}
.login-form{
  width: 380px;
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
  padding-left: 5px;
  box-shadow: 0px 0px 4px gray;
}
.intro{
  width: 260px;
}
input[type="text"], 
input[type="password"]{
  display: block;
  margin-top: 4px;
  margin-bottom: 8px;
  height: 25px;
  width: 350px;
  border-radius: 3px;
  border: 1px solid lightgray;
  outline: none;
}
input[type="text"]:focus, 
input[type="password"]:focus{
  border: 1px solid gray;
}
label{
  font-weight: bold;
  font-size: 0.8rem;
}
.btn-div{
  margin-top: 3px;
}
button{
  color: white;
  background-color: rgb(115, 94, 238);
  outline: none;
  width: 110px;
  border: none;
  border-radius: 5px;
  height: 25px;
  margin: 5px 0px;
}
button:hover{
  color: rgb(223, 220, 220);
  background-color: rgb(103, 84, 212);
  cursor: pointer;
}
.intro > h4{
  margin-bottom: 6px;
}
.intro li{
  font-size: 0.8rem;
  margin-bottom: 4px;
}
.intro a{
  background-color: rgb(252, 191, 101);
  text-decoration: none;
  color: white;
  display: block;
  border-radius: 4px;
  font-size: 0.8rem;
  text-align: center;
  padding: 3px 0px;
}
p{
  text-align: center;
  font-size: 0.7rem;
  color: green;
  margin-top: 5px;
}
span{
  color: green;
  margin-right: 5px;
}
input[type="checkbox"]{
  position: relative;
  top: 2px;
}