.u1{
  background-color: pink;
  padding: 10px;
}
/* li{
  background-color: rgb(190, 223, 228);
  margin: 10px;
} */

/* 자식 선택자,  */
/* u1이라는 클래스 안의 자식 li 태그들 */
.u1 > li{
  background-color: rgb(190, 223, 228);
  margin: 10px;
}

/* d1 클래스를 가진 태그의 자식 중 div태그만 선택 */
.d1 > div{
  background-color: rgb(139, 224, 224);
}

/* d1 클래스를 가진 태그의 자식 중 span태그만 선택 */
.d1 > span{
  background-color: rgb(149, 124, 216);
}

/* 자손 선택자 (하위 선택자) */
.d1 div{
  color: red;
}

/* ul 태그 안의 자식 test라는 클래스를 지닌 자식에서 하위 div 전체 선택 */
u1 > .test div{

}

/* .u2 > li:first-child{
  color: dodgerblue;
}

.u2 > li:last-child{
  color: rgb(255, 0, 242);
} */

.u2 > li:nth-child(even){
  color: green;
}