body{
  background-color: #B7C4CF;
}
.container{
  width: 700px;
  margin: 50px auto;
}
.tab-btn{
  display: flex;
  gap: 2px;
  }
.tab-btn a{
  background-color: #EEE3CB;
  color: #967E76;
  text-align: center;
  width: 150px;
  padding: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: all 1s;
  border-top: 2px solid;
}
.tab-content{
  position: relative;
}
.tab-item{
  color: #443936;
  background-color: #D7C0AE;
  position: absolute;
  padding: 15px;
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.tab-item:target{
  /* display: block; */
  opacity: 1;
  visibility: visible;
}
.tab-btn a:hover{
  font-weight: bold;
}

a.show{
  background-color: #D7C0AE;
  color: #EEE3CB;
  border-top: 2px solid #EEE3CB;
}