<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입 화면</title>
</head>
<body>
  <div th:each="member:${memberList}">[[${member.name}]]</div>
  <th:block th:each="m:${memberList}">
    [[${m.age}]]
  </th:block> <br>
  <table border="1">
    <tr>
      <td>이름</td>
      <td>나이</td>
      <td>점수</td>
    </tr>
    <tr th:each="member:${memberList}">
      <td> [[${member.name}]] </td>
      <td> [[${member.age}]] </td>
      <td> [[${member.score}]] </td>
    </tr>
  </table>

  이름 <input type="text"> <br>
  연락처 <input type="text"> <br>
  성별 <input type="radio">남 <input type="radio">여 <br>
  취미 <input type="checkbox">독서 <input type="checkbox">게임 <input type="checkbox">운동 <br>
  가입경로 <select name="" id="">
    <option value="">1.인터넷</option>
    <option value="">2.지인추천</option>
    <option value="">3.신문</option>
  </select> <br>
  <button>회원가입</button>
  <button><a href="/main">뒤로가기</a></button>
</body>
</html>