.App {
  text-align: center;
  width: 100vw;
  max-width: 1000px;
  margin: 0px auto;
}

.App ul{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.App li {
  width: 280px;
  background-color: #E6E6FA;
  padding: 12px;
  border: 1px solid #f0f0f1;
}
.App span{
  font-size: 25px;
  cursor: pointer;
}
.App li:hover{
  background-color: #c2c2e5;
}

.home {
  margin: 150px auto;
  padding: 40px;
  font-size: 40px;
}

.management {
  margin-top: 40px;
}
.management div:first-child{
  text-align: left;
}

.management div {
  margin: 10px;
  font-size: 25px;
}
.selectManage{
  display: flex;
  justify-content: space-between;
}

.management select {
  width: 150px;
  text-align: right;
  font-size: 15px;
  border: 1px solid #797999;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 15px;
  font-size: 25px;
}

.management .selectManage input {
  border: 1px solid #797999;
  margin-left: 10px;
  font-size: 25px;
  width: 200px;
  border-radius: 10px;
}
.header{
  width: 100%;
}
.btnDiv{
  text-align: right;
}

.btnDiv .btn {
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 25px;
  font-size: 20px;
  background-color: #E6E6FA;
  border: 1px solid #797999;
  border-radius: 10px;
  cursor: pointer;
}

.carList{
  width: 100%;
}
.carList div{
  margin-left: 10px;
  margin-top: 40px;
  text-align: left;
  font-size: 25px;
}

.manageTable {
  width: 90%;
  text-align: center;
  border-spacing: 0;
  margin: 20px auto;
  border-bottom: 3px solid #797999;
}

.manageTable thead {
  border-top: 1px solid #797999;
  border-bottom: 1px solid #797999;
  background-color: #cfcff8;
}

.manageTable td {
  padding: 10px;
  vertical-align: middle;
  font-size: 25px;
}
.manageTable td:first-child{
  width: 20%;
}
tbody tr:nth-child(2n){
  background-color: #E6E6FA;
}
tbody{
  background-color: #f7f7fc;
}
.regsale{
  margin: 100px auto;
  width: 90%;
  padding: 30px;
  border-radius: 10px;
  background-color: #f6f6fa;
  box-shadow: 1px 1px #797999;
}
.regDiv{
  display: flex;
  font-size: 25px;
  width: 100%;
  margin-top: 30px;
}
.regDiv div:first-child{
  width: 20%;
  text-align: right;
}
.firIn{
  width: 600px;
}
.model{
  margin-left: 135px;
}
.regDiv input{
  margin-left: 20px;
  font-size: 25px;
  border: 1px solid #797999;
  border-radius: 10px;
}
.regDiv select{
  margin-left: 20px;
  border-radius: 10px;
  font-size: 28px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  border: 1px solid #797999;
}
.btn2{
  margin-top: 40px;
  border-radius: 10px;
  padding: 5px 25px;
  font-size: 20px;
  background-color: #E6E6FA;
  border: 1px solid #797999;
  cursor: pointer;
}
.salesInfo table{
  width: 90%;
  margin: 80px auto;
  border: 1px solid #797999;
}
.salesInfo td{
  padding: 10px;
  vertical-align: middle;
}
.salesInfo thead td{
  border: 1px solid #797999;
  background-color: #cfcff8;
}
