<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/join_result" method="post">
    ID <input type="text" name="id"> <br>
    Password <input type="password" name="pw"> <br>
    Name <input type="text" name="name"> <br>
    Phone Number <input type="text" name="phoneNum"> <br>
    E-mail <input type="email" name="email"> <br>
    Birth <input type="date" name="birth"> <br>
    <input type="submit" value="회원가입">
  </form>
</body>
</html>