<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>학번</td>
            <td>학생명</td>
            <td>국어점수</td>
            <td>영어점수</td>
            <td>총점</td>
        </tr>
        <th:block th:if="${#lists.isEmpty(stuList)}">
            <tr>
                <td colspan="5">등록된 학생이 없습니다.</td>
            </tr>
        </th:block>

        <th:block th:unless="${#lists.isEmpty(stuList)}">
            <th:block th:each="student : ${stuList}">
                <tr>
                    <td>
                        [[${student.stuNum}]]
                    </td>
                    <td>
                        <a th:href="@{/studentDetail(stuNum=${student.stuNum})}" >[[${student.stuName}]]</a>
                    </td>
                    <td>
                        [[${student.korScore}]]
                    </td>
                    <td>
                        [[${student.engScore}]]
                    </td>
                    <td>
                        [[${student.korScore + student.engScore}]]
                    </td>
                </tr>
            </th:block>
        </th:block>
    </table>
    <input type="button" value="학생등록" onclick="goReg()">

    <script>
        function goReg() {
            location.href="/regStudent";
        }
    </script>
</body>
</html>